{{#if this.customers}}
<table class='table table-hover'>
    <thead>
        <th>{{this.headerName}}</th>
        <th>{{this.headerSurname}}</th>
        <th class="hidden-xs">{{this.headerPhone}}</th>
        <th class="hidden-xs">{{this.headerLastSeen}}</th>
        <th></th>
    </thead>
    <tbody>
        {{#each this.customers}}
            <tr data-edit-url='{{urlEdit}}'>
                <td>{{{name}}}</td>
                <td>{{{surname}}}</td>
                <td class="hidden-xs">{{{phone}}}</td>
                <td class="hidden-xs">{{{last_seen}}}</td>
                <td class="no-padding">
                    <span class="pull-right glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="left" title="{{deleteText}}" data-delete-url='{{urlDelete}}'></span>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <div class="alert alert-info" role="alert">{{this.emptyMsg}}</div>
{{/if}}
