{{#if this.products}}
<table class='table table-hover'>
    <thead>
        <th>{{this.headerName}}</th>
        <th>{{this.headerBrand}}</th>
        <th>{{this.headerCount}}</th>
        <th></th>
    </thead>
    <tbody>
        {{#each this.products}}
            <tr>
                <td>{{{name}}}</td>
                <td>{{{brand}}}</td>
                <td>{{{count}}}</td>
                <td class="no-padding">
                    <span class="pull-right glyphicon glyphicon-plus" data-clone-url='{{urlClone}}'></span>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <div class="alert alert-info" role="alert">{{this.emptyMsg}}</div>
{{/if}}
