<div class="content-header">
    <ul>
        <li role="presentation" {{#if isInfoActive}}class="active"{{/if}}>
            <a href="{{#if isInfoActive}}#{{else}}{{infoUrl}}{{/if}}">{{i18n.info}}</a>
        </li>
        <li role="presentation" {{#if isAppointmentsActive}}class="active"{{/if}}{{#if isAppointmentsDisabled}}class="disabled"{{/if}}>
            <a href="{{appointmentsUrl}}">{{i18n.appointments}}</a>
        </li>
        {{#if customer}}
        <li role="presentation" class="pull-right customer-name">{{customer}}</li>
        {{/if}}
    </ul>
</div>

