<div class="form-group">
    <label class="control-label col-sm-2" for="{{name}}">{{label}}</label>
    <div class="col-sm-10">
        <input class="form-control" type="{{type}}" name="{{name}}" id="{{name}}" placeholder="{{label}}"/>
    </div>
</div>
