<div id="{{name}}-container" class="form-group">
    <label for="{{name}}" class="control-label col-sm-2">{{label}}</label>
    <div class="col-sm-10 input-group date">
        <input type="text" name="{{name}}" placeholder="{{config.date_format}}" class="form-control">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-th"></i>
        </span>
    </div>
</div>