<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{i18n.title}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="/javascripts/vendor.min.js"></script>
    {{#if isProduction}}
    <script src="https://fb.me/react-0.14.0.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
    <script src="/javascripts/main.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.min.css">
    {{else}}
    <script src="https://fb.me/react-0.14.0.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.js"></script>
    <script src="/javascripts/main.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    {{/if}}
</head>
<body>
    {{> navbar show-toggle=true}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 sidebar collapse">
                <ul class="nav nav-sidebar">
                    <li {{#if isHomeActive}}class="active"{{/if}}>
                        <a href="/">{{{__ 'Home'}}}</a>
                    </li>
                    <li {{#if isCustomersActive}}class="active"{{/if}}>
                        <a href="/customers">{{{__ 'Customers'}}}</a>
                    </li>
                    <li {{#if isProductsActive}}class="active"{{/if}}>
                        <a href="/products">{{{__ 'Products'}}}</a>
                    </li>
                    <li {{#if isSettingsActive}}class="active"{{/if}}>
                        <a href="/settings">{{{__ 'Settings'}}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10 col-sm-offset-2 main">
                {{{body}}}
            </div>
        </div>
    </div>
</body>
</html>