{{> customer_header }}

<div class="appointments-content">
    <a href='{{newAppointmentUrl}}' class='btn btn-primary'>{{{__ 'Create new'}}}</a>

    <table class='table table-hover'>
        <thead>
            <th>{{{__ 'Date'}}}</th>
            <th>{{{__ 'Services'}}}</th>
        </thead>
        <tbody>
            {{#each appointments}}
                <tr data-edit-url='{{edit_url}}'>
                    <td>{{{date}}}</td>
                    <td>{{{services}}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
