{{> customer_header }}

<div class="appointments-content">
    {{#unless workers}}
        <div class="alert alert-danger" role="alert">
        {{{i18n.setWorkersMsg}}}
        </div>
    {{else}}
        {{#unless services}}
            <div class="alert alert-danger" role="alert">{{{i18n.setServicesMsg}}}</div>
        {{else}}
            {{> form_errors}}
            <form id="form" class="form-horizontal" method="post">
                {{> input_date name='date' label=i18n.date}}
                {{#each services}}
                <div class="form-group service">
                  <div class="col-sm-12">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" name="enabled" value="{{@index}}" {{#this.checked}}checked{{/this.checked}}>
                      </span>
                      <input type="text" class="form-control" value="{{this.description}}" name="service">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-click" style="color:{{this.worker.color}}">{{this.worker.name}}</button>
                        <input type="hidden" name="worker" value="{{this.worker.name}}">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            {{#each ../workers}}
                            <li><a style="color:{{this.color}}" href="#">{{this.name}}</a></li>
                            {{/each}}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                {{/each}}
                <div id="dynamic-fields-container"></div>
                <div class="form-group pull-right">
                    <div class="col-sm-12">
                        <button class="btn btn-default btn-add">{{i18n.addService}}</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>{{i18n.notes}}</label>
                        <textarea name="notes" class="form-control" rows="5">{{notes}}</textarea>
                    </div>
                </div>

                <input type='hidden' name="_csrf" value="{{csrftoken}}">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" name="submit">{{i18n.submit}}</button>
                    </div>
                </div>
            </form>
            <script type='text/javascript'>
                var dateFormat = "{{config.date_format}}".toLowerCase();
                var language = '{{config.language}}';
                var date = '{{date}}';
                $(document).ready(Appointment.init(language, date, dateFormat));
            </script>
        {{/unless}}
    {{/unless}}
</div>
