{{> customer_header }}

<div class="appointments-content">
    <a href='{{urlNew}}' class='btn btn-primary'>{{i18n.createNew}}</a>

    <table class='table table-hover'>
        <thead>
            <th>{{i18n.date}}</th>
            <th>{{i18n.services}}</th>
        </thead>
        <tbody>
            {{#each appointments}}
                <tr data-edit-url='{{urlEdit}}'>
                    <td>{{{date}}}</td>
                    <td>{{{services}}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script type='text/javascript'>
    $(document).ready(function() {

        $('.table tbody tr').on("click", function(event) {
            window.location.href = $(this).data('edit-url');
        });
    });
</script>
