{{> customer_header }}
<div id="appointments-view"></div>
<script type="text/babel">
{{>react_tables}}


var AppointmentsTable = React.createClass({
  mixins: [BaseTable],
  render: function() {
    var that = this;
    var appointmentRows = this.props.data.map(function(appointment) {
      return (
        <tr data-edit-url={appointment.urlEdit} key={appointment.urlEdit} onClick={that.goToEditForm}>
          <td>{appointment.date}</td>
          <td>{appointment.services}</td>
          <td className="no-padding">
            <span onClick={function(event) {event.stopPropagation();}} className="pull-right glyphicon glyphicon-trash"
              data-toggle="tooltip" data-placement="left"
              title={appointment.deleteText} data-delete-url={appointment.urlDelete} ref={
                function(span) {
                  if (span != null) {
                    var $span = $(span);
                    $span.tooltip();
                    $span.confirmPopover({
                      template: '#popover-template',
                      title: '{{i18n.deleteTitle}}',
                      content: '{{i18n.deleteMsg}}',
                      $rootContainer: $('#appointments-table-container'),
                      onConfirm: function() {
                        that.deleteRow($span);
                      }
                    });
                  }
                }
              }></span>
          </td>
        </tr>
      );
    });

    return (
      <div className="table-responsive" id='appointments-table-container'>
        <table className='table table-hover'>
          <thead>
            <tr>
              <th>{this.props.headerDate}</th>
              <th>{this.props.headerServices}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {appointmentRows}
          </tbody>
        </table>
      </div>
    );
  }
});


var Appointments = React.createClass({
  getInitialState: function() {
    return {
      data: {{{json appointments}}},
    };
  },
  updateTable: function() {
    window.location.reload();
  },
  render: function() {
    return (
      <div className="content-body">
        <a href='{{urlNew}}' className='btn btn-primary'>{{i18n.createNewAppintment}}</a>

        <AppointmentsTable
          headerDate='{{i18n.date}}' headerServices='{{i18n.services}}'
          data={this.state.data} updateTable={this.updateTable}/>
        <div id="popover-template">
          <PopoverTemplate confirm='{{i18n.btnConfirm}}' cancel='{{i18n.btnCancel}}'/>
        </div>
      </div>
    );
  }
});


ReactDOM.render(
  <Appointments />,
  document.getElementById('appointments-view')
);
</script>
