{{> customer_header }}

<div class="appointments-content">
    <a href='#' class='btn btn-default'>{{{__ 'Create new'}}}</a>

    <div class="pull-right">
        <a href='#' class='btn btn-default'>
            <span class="glyphicon glyphicon-arrow-left"></span> {{{__ 'Prev'}}}
        </a>
        <a href='#' class='btn btn-default btn-next'>
            {{{__ 'Next'}}} <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    </div>
    <form class="form-horizontal" method="post">
        {{#each services}}
        <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" name="checkbox{{@index}}">
              </span>
              <input type="text" class="form-control" value="{{this}}" name="service{{@index}}">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn-click">Barbara</button>
                <input type="hidden" name="worker{{@index}}" value="Barbara">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    {{#each ../workers}}
                    <li><a href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {{/each}}

        <input type='hidden' name="_csrf" value="{{csrftoken}}">
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
<script type='text/javascript'>
    // change the current worker to be the next one
    function handleWorkerClick(event) {
        var $groupBtn = $(this).closest('.input-group-btn');
        var $workers = $groupBtn.find('ul a').map(function() { return $(this).text(); });
        var newIndex = ($.inArray($(this).text(), $workers) + 1) % $workers.length;
        var newText = $workers[newIndex];

        $(this).text(newText);
        $groupBtn.find('input').val(newText);
    }

    // set the current worker from the selected one in the dropdown
    function handleWorkerSelect(event) {
        var newText = $(this).text();

        var $groupBtn = $(this).closest('.input-group-btn');
        $groupBtn.find('button:eq(0)').text(newText);
        $groupBtn.find('input').val(newText);
    }

    $(document).ready(function() {
        $('.input-group-btn button.btn-click').on('click', handleWorkerClick);
        $('.input-group-btn ul a').on('click', handleWorkerSelect);
    });
</script>
