
<div class="content-header">
<a href='{{urlNew}}' class='btn btn-primary'>{{i18n.createNewCustomer}}</a>
<form class="search-form">
    <input id="search-input" type="text" placeholder="{{i18n.search}}" class="form-control">
    <span id="search-clear" class="glyphicon glyphicon-remove-circle"></span>
</form>
</div>

<div id="customers-table-container" class="content-body"></div>
<script id="popover-template" type="text/x-handlebars-template">
    {{>popover confirm=i18n.btnConfirm cancel=i18n.btnCancel}}
</script>

<script type='text/javascript'>
    var templates = Handlebars.templates = Handlebars.templates || {};
    {{#templates}}
    templates['{{{name}}}'] = Handlebars.template({{{template}}});
    {{/templates}}

    var customersData = {{{json customersData}}};
    $(document).ready(Customers.init(templates, customersData, {
        urlSearch: '{{urlSearch}}',
        confirmTitle: '{{i18n.deleteTitle}}',
        confirmMsg: '{{i18n.deleteMsg}}',
        csrfToken: '{{csrftoken}}'
    }));
</script>