
<div class="content-header">
<a href='{{newCustomerUrl}}' class='btn btn-primary'>{{i18n.createNewCustomer}}</a>
<form class="search-form">
    <input id="search-input" type="text" placeholder="{{i18n.search}}" class="form-control">
    <span id="search-clear" class="glyphicon glyphicon-remove-circle"></span>
</form>
</div>

<div id="customers-table-container"></div>
<script type='text/javascript'>
    $(document).ready(function() {

        var templates = Handlebars.templates = Handlebars.templates || {};
        {{#templates}}
        templates['{{{name}}}'] = Handlebars.template({{{template}}});
        {{/templates}}

        var original_html = Handlebars.templates.customers_table({{{json customers}}});
        $('#customers-table-container').html(original_html);

        $('.table tbody tr').on("click", function(event) {
            window.location.href = $(this).data('edit-url');
        });

        $('#search-input').on('keyup', function(event) {
            $("#search-clear").toggle(Boolean($(this).val()));
            var text = $(this).val();
            if (text) {
                $.ajax({
                    url: '{{searchUrl}}',
                    data: {
                        text: text
                    },
                    success: function(msg) {
                        var html = Handlebars.templates.customers_table(msg);
                        $('#customers-table-container').html(html);

                        $('.table tbody tr').on("click", function(event) {
                            window.location.href = $(this).data('edit-url');
                        });
                    }
                });
            }
            else {
                $('#customers-table-container').html(original_html);
            $('.table tbody tr').on("click", function(event) {
                window.location.href = $(this).data('edit-url');
            });
            }
        });
        $("#search-clear").click(function(){
            $("#search-input").val('').focus();
            $(this).hide();
            $('#customers-table-container').html(original_html);
            $('.table tbody tr').on("click", function(event) {
                window.location.href = $(this).data('edit-url');
            });
        });
    })

</script>