{{> customer_header }}

<div class="content-body">
  {{> form_errors}}

  <div class="form-container" id="form-container"></div>
  <script type="text/babel">

  {{>react_forms}}

  var CustomerForm = React.createClass({
    render: function() {
      var customerData = {{{json obj}}};
      return (
        <form id="form" className="form-horizontal customer" method="post"
          action=''>
          <div className="form-group">
            <h4 className="col-sm-10 col-sm-offset-2">{{{i18n.title}}}</h4>
          </div>
          <div className="form-group">
            <div className="col-sm-10 col-sm-offset-2 mandatory-fields">
              {{{i18n.mandatoryFields}}}
            </div>
          </div>
          <FormInput type='text' name='name' value={customerData['name']}
            label='{{i18n.name}}' focus={true} mandatory={true}/>
          <FormInput type='text' name='surname' value={customerData['surname']}
            label='{{i18n.surname}}'/>
          <FormInputAndCheckbox type='tel' value={customerData['mobile_phone']}
            name='mobile_phone' label='{{i18n.mobile_phone}}'
            cbname='allow_sms' cblabel='{{i18n.allow_sms}}'
            cbvalue={customerData['allow_sms']} />
          <FormInput type='tel' name='phone' value={customerData['phone']}
            label='{{i18n.phone}}'/>

          <FormInputAndCheckbox type='email' value={customerData['email']}
            name='email' label='{{i18n.email}}'
            cbname='allow_email' cblabel='{{i18n.allow_email}}'
            cbvalue={customerData['allow_email']} />

          <FormInputRadio name='discount' label='{{i18n.discount}}'
            values={[
              {name: '0%',  value: '0'},
              {name: '10%', value: '10'},
              {name: '20%', value: '20'},
              {name: '30%', value: '30'}]}
            value={customerData['discount']}/>

          <FormInputDate name='first_seen' value={customerData['sold_date']}
            label='{{i18n.first_seen}}'/>
          <FormTextArea name='notes' value={customerData['notes']}
            label='{{i18n.notes}}' />
          <input type='hidden' name="_csrf" value="{{csrftoken}}"/>

          <div className="form-group">
            <div className="col-sm-offset-2 col-sm-10">
              <button type="submit" className="btn btn-primary" name="submit" value="1">
                {{i18n.submit}}
              </button>
              {{#unless editForm}}
              <button type="submit" className="btn btn-primary" name="submit_and_add" value="1">
                {{i18n.submit_and_add}}
              </button>
              {{/unless}}
            </div>
          </div>
        </form>
      );
    }
  });

  ReactDOM.render(
    <CustomerForm/>,
    document.getElementById('form-container')
  );
  </script>

</div>

