
<div class="content-header">
<a href='{{urlNew}}' class='btn btn-primary'>{{i18n.createNewCustomer}}</a>
<form class="search-form">
    <input id="search-input" type="text" placeholder="{{i18n.search}}" class="form-control">
    <span id="search-clear" class="glyphicon glyphicon-remove-circle"></span>
</form>
</div>

<div id="customers-table-container"></div>
<script type='text/javascript'>
    var Customers = (function() {
        /// Private variables and functions
        var templates = Handlebars.templates = Handlebars.templates || {};
        var originalHtml;
        var $searchClear = $("#search-clear");
        var $searchInput = $("#search-input");
        var urlSearch = '{{urlSearch}}';
        var $tableContainer = $('#customers-table-container');

        var goToEditForm = function(event) {
            window.location.href = $(this).data('edit-url');
        };

        var search = function() {
            $searchClear.toggle(Boolean($(this).val()));
            var text = $(this).val();
            if (text) {
                $.ajax({
                    url: urlSearch,
                    data: {
                        text: text
                    },
                    success: function(msg) {
                        var html = Handlebars.templates.customers_table(msg);
                        $tableContainer.html(html);
                        $('.table tbody tr').on("click", goToEditForm);
                    }
                });
            }
            else {
                $tableContainer.html(originalHtml);
                $('.table tbody tr').on("click", goToEditForm);
            }
        };

        var resetSearch = function() {
            $searchInput.val('').focus();
            $(this).hide();
            $tableContainer.html(originalHtml);
            $('.table tbody tr').on("click", goToEditForm);
        };

        var init = function() {
            {{#templates}}
            templates['{{{name}}}'] = Handlebars.template({{{template}}});
            {{/templates}}
            originalHtml = Handlebars.templates.customers_table({{{json customers}}});

            $tableContainer.html(originalHtml);
            $('.table tbody tr').on("click", goToEditForm);
            $searchInput.on('keyup', search);
            $searchClear.click(resetSearch);
        };

        /// Public API
        return {
            init: init
        };

    })();

    $(document).ready(Customers.init());
</script>