<div class="content-body">
  {{> form_errors}}

  <div class="form-container" id="form-container"></div>
  <script type="text/babel">

  {{>react_forms}}

  var ProductForm = React.createClass({
    render: function() {
      var productData = {{{json obj}}};
      return (
        <form id="form" className="form-horizontal product" method="post"
          {{#if actionUrl}}action='{{actionUrl}}'{{/if}}>
          <div className="form-group">
            <h4 className="col-sm-10 col-sm-offset-2">{{{i18n.title}}}</h4>
          </div>
          <div className="form-group">
            <div className="col-sm-10 col-sm-offset-2 mandatory-fields">
              {{{i18n.mandatoryFields}}}
            </div>
          </div>

          <FormInput type='text' name='name' value={productData['name']}
            label='{{i18n.name}}' index={0} />
          <FormInput type='text' name='brand' value={productData['brand']}
            label='{{i18n.brand}}' index={1} />
          <FormInputDate name='sold_date' value={productData['sold_date']}
            label='{{i18n.sold_date}}' orientation='top' index={2} />
          <FormTextArea name='notes' value={productData['notes']}
            label='{{i18n.notes}}' />

          <input type='hidden' name="_csrf" value="{{csrftoken}}"/>
          <div className="form-group">
            <div className="col-sm-offset-2 col-sm-10">
              <button type="submit" className="btn btn-primary" name="submit">
                {{i18n.submit}}
              </button>
            </div>
          </div>
        </form>

      );
    },

  });

  ReactDOM.render(
    <ProductForm/>,
    document.getElementById('form-container')
  );
  </script>
</div>

