<div id="main-container">
</div>

<script>
  var i18n = {{{json i18n}}};
  var config = {{{json config}}};
</script>
{{#if webpackDevServer}}
<script src="{{webpackDevServer}}/vendor.js"></script>
<script src="{{webpackDevServer}}/bundle.js"></script>
{{else}}
<script src="vendor.js"></script>
<script src="bundle.js"></script>
{{/if}}