extends layout

mixin input(fieldType, fieldName, fieldLabel)
    div.form-group
        label(class=['control-label', 'col-sm-2'], for='#{fieldName}') #{fieldLabel}
        div.col-sm-10
            input.form-control(type='#{fieldType}', name='#{fieldName}', id='#{fieldName}', placeholder='#{fieldLabel}')

mixin inputAndCheckbox(fieldType, fieldName, fieldLabel, checkboxName, checkboxLabel)
    div.form-group
        label(class=['control-label', 'col-sm-2'], for='#{fieldName}') #{fieldLabel}
        div.col-sm-10
            input.form-control(type='#{fieldType}', name='#{fieldName}', id='#{fieldName}', placeholder='#{fieldLabel}')

        div(class=['col-sm-offset-2', 'col-sm-10'])
            div.checkbox
                label
                    input(type='checkbox' name='#{checkboxName}')
                    | #{checkboxLabel}

block content
    h1= title
    div.container

        if flash
          div.alert(class='#{flash.type}')
            ul
            - for (var i = 0; i < flash.messages.length; i++) {
                //- TODO: use field labels instead of field names
                li #{flash.messages[i].msg} for #{flash.messages[i].param}
            - }

        form.form-horizontal(method='post', action='')
            +input('text', 'name', 'Name')
            +input('text', 'surname', 'Surname')
            +inputAndCheckbox('tel', 'mobile', 'Mobile Phone', 'allow_sms', 'Allow sms')
            +input('tel', 'phone', 'Phone')
            +inputAndCheckbox('email', 'email', 'Email', 'allow_email', 'Allow email')

            div.form-group
                label(class=['control-label', 'col-sm-2'], for='discount') Discount
                div(class=['col-sm-8'])
                    label.radio-inline
                        input(type='radio' name='discount', value='0')
                        | 0%

                    label.radio-inline
                        input(type='radio' name='discount', value='10')
                        | 10%

                    label.radio-inline
                        input(type='radio' name='discount', value='20')
                        | 20%

                    label.radio-inline
                        input(type='radio' name='discount', value='30')
                        | 30%

            div.form-group
                div(class=['col-sm-offset-2', 'col-sm-10'])
                    button(type='submit', class=['btn', 'btn-primary'], name='submit') Submit

