extends layout

mixin input(fieldType, fieldName, fieldLabel)
    div.form-group
        label(class=['control-label', 'col-sm-2'], for='#{fieldName}') #{fieldLabel}
        div.col-sm-10
            input.form-control(type='#{fieldType}', name='#{fieldName}', id='#{fieldName}', placeholder='#{fieldLabel}')

mixin inputAndCheckbox(fieldType, fieldName, fieldLabel, checkboxName, checkboxLabel)
    div.form-group
        label(class=['control-label', 'col-sm-2'], for='#{fieldName}') #{fieldLabel}
        div.col-sm-10
            input.form-control(type='#{fieldType}', name='#{fieldName}', id='#{fieldName}', placeholder='#{fieldLabel}')

        div(class=['col-sm-offset-2', 'col-sm-10'])
            div.checkbox
                label
                    input(type='checkbox' name='#{checkboxName}')
                    | #{checkboxLabel}

mixin inputDate(fieldName, fieldLabel)
    div(class='form-group', id='#{fieldName}-container')
        label(class=['control-label', 'col-sm-2'], for='#{fieldName}') #{fieldLabel}
        div(class=['col-sm-10', 'input-group', 'date'])
            input.form-control(type='text', name='#{fieldName}', placeholder='#{date_format}')
            span.input-group-addon
                i(class=['glyphicon', 'glyphicon-th'])

block content
    h1= title
    div.container

        if flash
          div.alert(class='#{flash.type}')
            ul
            - for (var i = 0; i < flash.messages.length; i++) {
                li #{flash.messages[i].msg}
            - }

        form.form-horizontal(method='post', action='')
            +input('text', 'name', '' + form_names.name)
            +input('text', 'surname', '' + form_names.surname)
            +inputAndCheckbox('tel', 'mobile_phone', '' + form_names.mobile_phone, 'allow_sms', '' + form_names.allow_sms)
            +input('tel', 'phone', '' + form_names.phone)
            +inputAndCheckbox('email', 'email', '' + form_names.email, 'allow_email', '' + form_names.allow_email)

            div.form-group
                label(class=['control-label', 'col-sm-2'], for='discount') #{__('Discount')}
                div(class=['col-sm-8'])
                    label.radio-inline
                        input(type='radio' name='discount', value='0')
                        | 0%

                    label.radio-inline
                        input(type='radio' name='discount', value='10')
                        | 10%

                    label.radio-inline
                        input(type='radio' name='discount', value='20')
                        | 20%

                    label.radio-inline
                        input(type='radio' name='discount', value='30')
                        | 30%

            +inputDate('first_see', '' + form_names.first_see)
            +inputDate('last_see', '' + form_names.last_see)
            input(type="hidden", name="_csrf", value="#{csrftoken}")
            div.form-group
                div(class=['col-sm-offset-2', 'col-sm-10'])
                    button(type='submit', class=['btn', 'btn-primary'], name='submit') Submit

            script(type='text/javascript').
                var customerData = !{JSON.stringify(obj)};

                $(document).ready(function() {
                    // this trick is required to set the selected date respecting the date format
                    $.fn.datepicker.defaults.format = "#{date_format}";
                    $('.container form input').map(function() {
                        var name = $(this).attr('name');
                        if (typeof customerData[name] !== 'undefined') {
                            if (name == 'first_see' || name == 'last_see') {
                                $('#' + name + '-container .input-group.date').datepicker(
                                    'setDate', customerData[name]);
                            }
                            else {
                                $(this).val(customerData[name]);
                            }
                        }
                    });
                });

                $('#first_see-container .input-group.date').datepicker({
                    format: "#{date_format}",
                    weekStart: 1,
                    daysOfWeekDisabled: "0",
                    autoclose: true,
                    todayHighlight: true,
                    endDate: "0d"
                });
                $('#last_see-container .input-group.date').datepicker({
                    format: "#{date_format}",
                    weekStart: 1,
                    daysOfWeekDisabled: "0",
                    autoclose: true,
                    todayHighlight: true,
                    endDate: "0d"
                });
