extends layout

block content
    h1= title
    a(href='#{newCustomerUrl}', class=['btn', 'btn-primary', 'pull-right']) #{__('Create new customer')}
    div.container
        table(class=['table', 'table-hover'])
            thead
                th #{__('Name')}
                th #{__('Surname')}
                th #{__('Mobile')} / #{__('Phone')}
            tbody
                each res in customers
                    tr(data-edit-url='#{res.edit_url}')
                        td #{res.name}
                        td #{res.surname}
                        td #{res.phone}

    script(type='text/javascript').
        $('.table tbody tr').on("click", function(event) {
            window.location.href = $(this).data('edit-url');
        });